# PostgreSQL
POSTGRES_DB=exchange_rates
POSTGRES_USER=exchange_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Data source
FRANKFURTER_BASE_URL=https://api.frankfurter.dev
BASE_CURRENCY=EUR
QUOTE_CURRENCIES=USD,GBP,NZD,AUD,JPY
LOG_LEVEL=INFO

# Airflow
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
